# Build Directory
build/

# Environment Variables (local testing only)
.env
.env.local

# Node modules (falls du später npm brauchst)
node_modules/

# OS Files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Netlify
.netlify/